<footer>
    <div class="row">

    <div class="quarter">
        <h3>biomod</h3>
        <ul class="list-unstyled">
            <li>
                <a href="/how-join">how to join</a>
            </li>
            <li>
                <a href="/requirements">requirements</a>
            </li>
            <li>
                <a href="/jamboree">jamboree</a>
            </li>
            <li>
                <a href="/judging">judging criteria</a>
            </li>
        </ul>
    </div>

    <div class="quarter">
        <h3>community</h3>
        <ul class="list-unstyled">
            <li>
                <a href="/teams">teams</a>
            </li>
            <li>
                <a href="/abstracts">project abstracts</a>
            </li>
            <li>
                <a href="http://twitter.com/biomod">@biomod at twitter</a>
            </li>
            <li>
                <a href="http://openwetware.org/wiki/Biomod">wiki</a>
            </li>

        </ul>
        </div>

    <div class="quarter">
        <h3>support</h3>
        <ul class="list-unstyled">
            <li>
                <a href="/tutorials">tutorials</a>
            </li>
            <li>
                <a href="http://facebook.com/biomod">forums</a>
            </li>
            <li>
                <a href="/contact">contact us</a>
            </li>
        </ul>
    </div>

    <div class="quarter omega">
        <h3>about us</h3>
        <ul class="list-unstyled">
            <li>
                <a href="/our-team">our team</a>
            </li>
            <li>
                <a href="/sponsors">sponsors</a>
            </li>
            <li>
                <a href="/privacy-policy">privacy policy</a>
            </li>
            <li>
                <a href="/terms">terms</a>
            </li>

        </ul>
    </div>


    </div>
</footer>



<footer class="subfooter">
    <div class="row">
        <p>&copy; 2017 BIOMOD Foundation. <small>Design by muckypaw.</small></p>

    </div>
</footer>

