<div class="row">

	<div class="quarter">
		<h3>biomod</h3>
		<ul class="list-unstyled">
			<li>
				<a href="/pages/how-to-join">how to join</a>
			</li>
			<li>
				<a href="/pages/requirements">requirements</a>
			</li>
			<li>
				<a href="/pages/jamboree">jamboree</a>
			</li>
			<li>
				<a href="/pages/judging">judging criteria</a>
			</li>
		</ul>
	</div>

	<div class="quarter">
		<h3>community</h3>
		<ul class="list-unstyled">
			<li>
				<a href="/pages/teams">teams</a>
			</li>
			<li>
				<a href="/pages/abstracts">project abstracts</a>
			</li>
			<li>
				<a href="http://twitter.com/biomod">@biomod at twitter</a>
			</li>
			<li>
				<a href="http://openwetware.org/wiki/Biomod">wiki</a>
			</li>

		</ul>
		</div>

	<div class="quarter">
		<h3>support</h3>
		<ul class="list-unstyled">
			<li>
				<a href="/pages/tutorials">tutorials</a>
			</li>
			<li>
				<a href="http://facebook.com/biomod">forums</a>
			</li>
			<li>
				<a href="/pages/contact">contact us</a>
			</li>
		</ul>
	</div>

	<div class="quarter omega">
		<h3>about us</h3>
		<ul class="list-unstyled">
			<li>
				<a href="/pages/our-team">our team</a>
			</li>
			<li>
				<a href="/pages/sponsors">sponsors</a>
			</li>
			<li>
				<a href="/pages/privacy-policy">privacy policy</a>
			</li>
		</ul>
	</div>


</div>



<footer class="subfooter">
	<div class="row">
		<p>Wyss Institute at Harvard University. Designed by <a href="http://muckypaw.com">muckypaw</a></p>

	</div>
</footer>

