<section>
    <h4>Social</h4>
    <div class="social">
        <i class="icon-mail"></i><a href="#callout" >subscribe to newsletter</a>
        <i class="icon-twitter-squared"></i><a href="http://twitter.com/biomod">follow on twitter</a>	
        <i class="icon-facebook-squared"></i><a href="http://facebook.com/biomod">follow on facebook</a>    
    </div>
    <h4>Photos</h4>
	<div id="sidebar-photos" class="flexslider">
            <ul class="slides">
                    <li><img src="/assets/images/photos/8165661478_b9d70fb1f6.jpg" /></li>
                    <li><img src="/assets/images/photos/8165610433_a40a164810.jpg" /></li>
                    <li><img src="/assets/images/photos/8165655658_10c6eafbc2.jpg" /></li>
            </ul>
    </div>
	<h4>Recent Blog Posts</h4>
		{% for post in site.posts limit:5 %}
		<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
		<span>{{ post.date | date_to_string }}</span> 
	{% endfor %}
	<p>
		<a href="/blog/index.html">see all blog entries &raquo;</a>
	</p>
</section>

