$crimson: #ff2935; 
$charcoal: #42484d;
$midgray: #d9d9d9;


$brown:	#716b67;// not used

$snow:#f0f0f0; //not used
$blue:	#009dd4;

$salmon:#fa4951;

header{
	background:white;
}

// default body class is light grey
body{
	background: white;
}

// body class on blogs (posts) is dark
body.post{
	background:$charcoal
}

footer {
	background:$salmon;
	color:#fff;
	a:link,a:visited{color:#fff}
}
footer.subfooter{
	background:$charcoal;
}

header ul.horizontal{
	background:$midgray;
	padding-right:20px;
	a:link,a:visited {
    //background:$charcoal;
    color:#444;
	}
}

section {
	// sections default with white background and 0 padding.
	// to give padding to text, wrap it in paragraph tag
	background:white;
	// p,h1,h2,h3,h4,h5,h6 {padding:20px}

	header{ background:$blue;}
}
div.third{background:white}


#biomod{
	width:260px;
	height:60px;
	background:url(../images/biomodlogo.png) no-repeat;
	display:block;
	float:left;
//	text-align:-10000px;

}
#wyss {
	width:219px;
	height:70px;
	background:url(../images/wysslogo.png) no-repeat;
	display:block;
	float:right;
	margin-top:4px;
}

#tshirt {
	background: $snow;
        padding:0;
	img {width:100%}
	p{padding:8px 20px;}
	//background:url(../images/tshirt.png) no-repeat;
}

.callout {
	background: $snow;
	padding: 30px 20px;
	color: #000;

}
.featured.highlights {
	background: $midgray;// $salmon;
}
.featured.white {
	background: white;
}

/* backgrounds */
.charcoal {
	background:$charcoal;
}

h1{
    em {
    	font-style:normal;
        color:$salmon;
    }
}

.section-title {
    background: $snow;
}
.section-caption {
        background: $snow;
        color: #888;
}
