$crimson: #ff2935; 
$charcoal: #42484d;

$brown:	#716b67;// not used

$snow:#f9f9f9;
$blue:	#009dd4;

$salmon:#fa4951;

header{
	background:$charcoal;
}

// default body class is light grey
body{
	background: $snow;
}

// body class on blogs (posts) is dark
body.post{
	background:$charcoal
}

footer {
	background:$salmon;
	color:#fff;
	a:link,a:visited{color:#fff}
}
footer.subfooter{
	background:$charcoal;
}


section {
	// sections default with white background and 0 padding.
	// to give padding to text, wrap it in paragraph tag
	background:white;
	// p,h1,h2,h3,h4,h5,h6 {padding:20px}

	header{ background:$blue;}
}
div.third{background:white}


#biomod-logo-dark{
	background:url(../images/biomod_logo.png) no-repeat;
	height:50px;
	//width:px;
	display:block;
	text-align:-10000px;

}

.callout {
	background: $charcoal;
	padding: 30px 20px;
	color: $snow;
}
.featured {
	background: $salmon;
}

/* backgrounds */
.charcoal {
	background:$charcoal;
}
