@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

@import "typo";
@import "colors";


body {
	margin:0;
}

main { // this is the outer container
	  @include outer-container;
	  margin:0 auto;
	  min-height:600px;
	  // wow, this line below adds padding to the MAIN element. works well. 
	  // normally id add this to aside and section instead. lets roll with this.
	  @include pad(30px 0px);
}

// omega class
.omega {@include omega();}

.row {
	@include outer-container;
	@include pad(0 0 20px 0);

}

// top header
header {padding:20px 0;}
header nav {@include outer-container;}

// headers inside section boxes
// color of which is in color.scss
section header {
	padding:0;
	margin:0;
}

footer {background:black;padding:20px 0;}




@include media($mobile) { // grid has 4 columns in total
   // body {background: red; }

    section{@include span-columns(4);}
	aside section{@include span-columns(4);}

	// frontpage column, third of the width of #main.
	section.third{@include span-columns(4);}
}

@include media($tablet) { // grid has 8 columns in total
   // body 	{background: yellow;}

    section {@include span-columns(5);}
	aside section {@include span-columns(3);}

	// frontpage column, third of the width of #main.
	section.third{@include span-columns(8);}

}

@include media($desktop) { // grid has 12 columns in total
   // body { background: green; }

    section {@include span-columns(7);}
	aside section {@include span-columns(5);}

	// frontpage column, third of the width of #main.
	section.third{@include span-columns(4);}
}

@include media($largedesktop) { // grid has 16 columns in total
   // body 	{background: purple;}

    section {@include span-columns(8);}
	aside section {@include span-columns(8);}

	// frontpage column, third of the width of #main.
	section.third{@include span-columns(5);}

}