@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

@import "typo";
@import "colors";
@import "flexslider";
@import "jquery.countdown";

body {
	margin:0;
}

.float-right{float:right}

// omega class
.omega {@include omega();}

.row {
	@include outer-container;
	@include pad(0 0 20px 0);

}

.main { // this is the outer container
	 
	  // wow, this line below adds padding to the MAIN element. works well. 
	  // normally id add this to aside and section instead. lets roll with this.
	  @include pad(30px 0px);
}

// top header
header {padding:20px 0;}
header nav {@include outer-container;}


// headers inside section boxes
// color of which is in color.scss
section header {
	padding:0;
	margin:0;
}

footer {padding-top:20px;}

.post section, aside section { 	
	@include pad(20px);
}


.feature-box{ padding:20px}

.page_number {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0 0.5em;
}

// front page stuff
#mission {
	padding:20px;
}
#mission-share{
	margin:20px 0;
	a:link,a:visited{padding-left:20px;}
}
.highlights .third { }
.highlights .third { min-height: 327px; }
.underway p { font-size: 1.6em; margin: 1em 0; }


@include media($mobile) { // grid has 4 columns in total

   // body {background: red; }

    main {@include span-columns(4);}
	aside section{@include span-columns(4);}

	.row { padding-bottom: 0 }
        
        // frontpage column, third of the width of #main.
	.third{@include span-columns(4);}
	.two-thirds{@include span-columns(4);}
	.half {@include span-columns(4);}
	.quarter{@include span-columns(4);}

	// what is biomod? #mission
	#mission {
		@include span-columns(4);
		h1 {font-size:25px}
	}

        .featured {padding: 0;}

	// newsletter signup near footer
	.callout{
                min-height:190px;
                @include clearfix();
                margin-bottom: 0;
        }
	h3#newsletter-blurb{@include span-columns(4);}
	#newsletter-form{@include span-columns(4);}
	#newsletter-button{@include span-columns(4);}

        footer { padding: 1em; }

}
@media( min-width: 500px ){
        #biomod { 
                float:left; width:260px; background-position: top left;
                // compensate for white space in left of image
                position: relative;
                left: -13px;
        }
        #wyss { float:right; 	width:219px; background-position: top left; } 
}
@include media($tablet) { // grid has 8 columns in total
   // body 	{background: yellow;}

    main {@include span-columns(5);}
	aside section {@include span-columns(3);}

	// frontpage column, third of the width of #main.
	.third{
		@include span-columns(2.6);

	}
	.two-thirds{@include span-columns(5.2);}
	.half {@include span-columns(4);}
	.quarter{@include span-columns(2);}

	// what is biomod? #mission
	#mission {
		@include span-columns(5);
		@include shift(3);
		h1 {font-size:28px}
	}

	// newsletter signup near footer
	.callout{min-height:110px;}
	h3#newsletter-blurb{@include span-columns(3);font-size:17px;line-height:20px;margin-top:0px;}
	#newsletter-form{@include span-columns(3);}
	#newsletter-button{@include span-columns(2);}

        .featured {padding:30px 0;}

}

@include media($desktop) { // grid has 12 columns in total
   // body { background: green; }

        #wyss { display:block; }
        ul.horizontal{ float:right; }

    main {@include span-columns(8);}
	aside section {@include span-columns(4);}

	// frontpage column, third of the width of #main.
	.third{@include span-columns(4);}
	.two-thirds{@include span-columns(8);}
	.half {@include span-columns(6);}
	.quarter{@include span-columns(3);}	


	// what is biomod? #mission
	#mission {
		@include span-columns(8);
		@include shift(4);
		h1 {font-size:30px}
	}

	// newsletter signup near footer
	.callout{min-height:110px;}
	h3#newsletter-blurb{@include span-columns(5);font-size:20px;line-height:28px;margin-top:-7px;}
	#newsletter-form{@include span-columns(5);}
	#newsletter-button{@include span-columns(2);}

        // reset to widescreen, multi-column layout defaults
        .row { padding-bottom: 20px; }
        .callout { margin-bottom: 20px; }
        footer { padding: 0; }

}

@include media($largedesktop) { // grid has 16 columns in total
   // body 	{background: purple;}

    main {@include span-columns(11);}
	aside section {@include span-columns(5);}

	// frontpage column, third of the width of #main.
	.third{@include span-columns(5.3333);} // fractional columns! close enough for browsers to round up to 16 total
	.two-thirds{@include span-columns(11);}
	.half {@include span-columns(8);}
	.quarter{@include span-columns(4);}	


	// what is biomod? #mission
	#mission {
		@include span-columns(10);
		@include shift(6);
		h1 {font-size:34px}
	}

	// newsletter signup near footer
	.callout{min-height:100px;}
	h3#newsletter-blurb{@include span-columns(9);margin-top:-8px;}
	#newsletter-form{@include span-columns(5);}
	#newsletter-button{@include span-columns(2);}

}





// ICONS, that i found via fontello.com

@font-face {
  font-family: 'biomod';
  src: url('../font/biomod.eot?1875378');
  src: url('../font/biomod.eot?1875378#iefix') format('embedded-opentype'),
       url('../font/biomod.woff?1875378') format('woff'),
       url('../font/biomod.ttf?1875378') format('truetype'),
       url('../font/biomod.svg?1875378#biomod') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'biomod';
    src: url('../font/biomod.svg?1875378#biomod') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "biomod";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e80a'; } /* '' */
.icon-facebook-squared:before { content: '\e80b'; } /* '' */
.icon-twitter-squared:before { content: '\e80d'; } /* '' */
.icon-twitter:before { content: '\e80c'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-book-open:before { content: '\e801'; } /* '' */
