header {
  background: #f6f6f6; }

body {
  background: white; }

body.post {
  background: #ecf0f1; }
  body.post .callout {
    background: #34495e; }
    body.post .callout h3 {
      color: white; }

footer {
  background: #009dd4;
  color: #fff; }
  footer a:link, footer a:visited {
    color: #fff; }
  footer h3 {
    color: white; }

footer.subfooter {
  background: #2c3e50;
  color: #95a5a6; }

header ul.horizontal {
  background: #d9d9d9;
  padding-right: 20px; }
  header ul.horizontal a:link, header ul.horizontal a:visited {
    color: #444; }

section {
  background: white; }
  section header {
    background: #009dd4; }

div.third {
  background: white; }

#biomod {
  height: 60px;
  background: url(../images/biomodlogo.png) no-repeat;
  background-position: top center;
  display: block; }

#wyss {
  height: 70px;
  background: url(../images/wysslogo.png) no-repeat;
  background-position: top center;
  display: block;
  margin-top: 4px; }

#tshirt, #cadnano, #bionano-vid {
  background: #f0f0f0;
  padding: 0; }
  #tshirt img, #cadnano img, #bionano-vid img {
    width: 100%;
    display: block; }
  #tshirt p, #cadnano p, #bionano-vid p {
    padding: 8px 20px; }
  #tshirt .section-title, #cadnano .section-title, #bionano-vid .section-title {
    border-top: solid 1px #f6f6f6; }

#calendar {
  background: #4fc4f6;
  color: white;
  height: 235px; }

#jamboree-details .section-title {
  background: #4fc4f6; }

.featured.highlights {
  background: #f6f6f6; }

.featured.secondary {
  background: #f0f0f0; }

.featured.white {
  background: white; }

/* backgrounds */
.charcoal {
  background: #42484d; }

h1, h2, h3,
h1 a, h2 a, h3 a {
  color: black; }

h4,
h4 a {
  color: #95a5a6; }

h5,
h5 a {
  color: #000; }

h6,
h6 a {
  color: #95a5a6; }

h1 em {
  font-style: normal;
  color: #009dd4; }

.section-title {
  background: white; }

.section-caption {
  background: white;
  color: #888;
  padding: 5px 20px;
  border-top: solid 1px #f6f6f6; }

.callout {
  background: #f6f6f6;
  padding: 30px 30px 15px;
  color: #42484d;
  margin: 20px 0; }
  .callout h3 {
    color: #555; }

.social a {
  display: block;
  background: #4fc4f6;
  margin: 1px 0;
  padding: 10px 12px;
  color: #fff;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }
  .social a:hover {
    text-decoration: none;
    background: #80d4f8; }

/** alternate style for separate bg for icon on left, e.g. <i></i><a>social</a> 
 * maybe <a><i><span></a> instead? (as inline-block) */
.social i {
  float: left;
  background: #1eb4f4;
  padding: 10px;
  margin-right: 10px;
  color: white; }

#newsletter-form,
textarea {
  padding: 7px;
  font-size: 20px;
  border: 0; }

input[type=submit]#newsletter-button {
  background: #009dd4;
  border: 0;
  outline: 0;
  padding: 10px 10px;
  font-size: 16px;
  color: white; }
