/* */
/* media query mixins */
header {
  background: #f6f6f6; }

body {
  background: white; }

body.post {
  background: #ecf0f1; }
  body.post .callout {
    background: #34495e; }
    body.post .callout h3 {
      color: white; }

footer {
  background: #009dd4;
  color: #fff; }
  footer a:link, footer a:visited {
    color: #fff; }
  footer h3 {
    color: white; }

footer.subfooter {
  background: #2c3e50;
  color: #95a5a6; }

header ul.horizontal {
  background: #d9d9d9;
  padding-right: 20px; }
  header ul.horizontal a:link, header ul.horizontal a:visited {
    color: #444; }

section {
  background: white; }
  section header {
    background: #009dd4; }

div.third {
  background: white; }

#biomod {
  height: 60px;
  background: url(../images/biomodlogo.png) no-repeat;
  background-position: top center;
  display: block; }

.section-title {
  border-top: solid 1px #f6f6f6; }

#wyss, #cadnano, #bionano-vid {
  padding: 0; }
  #wyss img, #cadnano img, #bionano-vid img {
    width: 100%;
    display: block; }
  #wyss p, #cadnano p, #bionano-vid p {
    padding: 8px 20px; }

#calendar {
  background: #4fc4f6;
  color: white;
  height: 235px; }

.featured.highlights {
  background: #f6f6f6; }

.featured.secondary {
  background: #f0f0f0; }

.featured.white {
  background: white; }

/* backgrounds */
.charcoal {
  background: #42484d; }

h1, h2, h3,
h1 a, h2 a, h3 a {
  color: black; }

h4,
h4 a {
  color: #95a5a6; }

h5,
h5 a {
  color: #000; }

h6,
h6 a {
  color: #95a5a6; }

h1 em {
  font-style: normal;
  color: #009dd4; }

.section-title {
  background: white; }

.section-caption {
  background: white;
  color: #888;
  padding: 5px 20px;
  border-top: solid 1px #f6f6f6; }

.callout {
  background: #f6f6f6;
  padding: 30px 30px 15px;
  color: #42484d;
  margin: 20px 0; }
  .callout h3 {
    color: #555; }

.social a {
  display: block;
  background: #4fc4f6;
  margin: 1px 0;
  padding: 10px 12px;
  color: #fff;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }
  .social a:hover {
    text-decoration: none;
    background: #80d4f8; }

/** alternate style for separate bg for icon on left, e.g. <i></i><a>social</a> 
 * maybe <a><i><span></a> instead? (as inline-block) */
.social i {
  float: left;
  background: #1eb4f4;
  padding: 10px;
  margin-right: 10px;
  color: white; }

#newsletter-form,
textarea {
  padding: 7px;
  font-size: 20px;
  border: 0; }

input[type=submit]#newsletter-button {
  background: #009dd4;
  border: 0;
  outline: 0;
  padding: 10px 10px;
  font-size: 16px;
  color: white; }

/* =============================================================
    TYPOGRAPHY
    Sets font styles for entire site.
 * ============================================================= */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #666;
  background: #ffffff; }

p {
  margin-bottom: 1.5em; }

footer .quarter {
  font-weight: 300;
  font-size: 14px;
  line-height: 28px; }

footer.subfooter p {
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  color: #868a8d; }
  footer.subfooter p small {
    float: right; }

/*  Colors  */
/*  For alternate text colors */
.text-muted {
  color: #808080; }

/*  Links
 *  Hyperlink styling */
a {
  color: #0088cc;
  text-decoration: none; }

a:hover {
  color: #005580;
  text-decoration: underline; }

a img {
  border: none;
  background: none; }

/*  Prevents border/background on linked image hover.
 *  Adds slight opacity. */
a:hover img {
  border: none;
  background: none;
  opacity: 0.8;
  filter: alpha(opacity=80); }

/*  Lists
 *  Styling for lists */
ul, ol {
  margin-bottom: 1.5em;
  margin-left: 0em; }

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

ul.horizontal {
  *zoom: 1;
  font-size: 15px;
  line-height: 21px;
  padding: 10px 10px 10px 20px; }
  ul.horizontal:before, ul.horizontal:after {
    content: " ";
    display: table; }
  ul.horizontal:after {
    clear: both; }
  ul.horizontal a:link, ul.horizontal a:visited {
    color: #ccc; }
  ul.horizontal a:hover {
    color: white; }
  ul.horizontal li {
    display: inline;
    list-style-type: none;
    float: left; }
  ul.horizontal span {
    margin: 0 10px; }

/*  Removes list styling.
 *  For semantic reasons, should only
 *  be used on unordered lists. */
.list-unstyled {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }

/*  Headings
 *  h1 through h6 styling
 *  Heading class lets you use one heading type for semantics
 *  but style it as another heading type. */
h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-size: 32px;
  line-height: 45px; }

#mission h1 {
  margin-top: -8px;
  letter-spacing: -1px;
  color: black; }

#mission-more {
  text-align: justify;
  margin-top: 1em; }

h2 {
  font-size: 28px;
  line-height: 33px; }

h3 {
  font-size: 24px;
  line-height: 29px; }

h3#newsletter-blurb {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 10px; }

h4, h5 {
  font-size: 15px;
  line-height: 20px; }

h4 {
  text-transform: uppercase;
  letter-spacing: 1px; }

h4#latest-blogs,
h4#latest-photos,
.social {
  margin-bottom: 20px; }

h4 small {
  float: right;
  font-size: 14px; }

h5 {
  letter-spacing: 0; }

h6 {
  font-size: 12px;
  line-height: 20px;
  padding: 0 0 15px 0; }

.snippet {
  margin: -20px 0 56px 0; }

aside {
  /* sidebar: recent blog posts */ }
  aside h3 {
    margin-top: 0.5em; }
  aside h4 {
    margin-bottom: 1em; }

/*  Lines, Quotes and Emphasis */
/*  Lines */
hr {
  margin: 2em auto;
  border: 0;
  border-top: .071428571em solid #e5e5e5;
  border-bottom: .071428571em solid #ffffff; }

/*  Bold */
strong {
  font-weight: bold; }

/*  Italics */
em {
  font-style: italic; }

/*  Subscript & Superscript */
sub, sup {
  position: relative;
  font-size: 85%;
  font-weight: bold;
  line-height: 0;
  vertical-align: baseline;
  margin-left: .3em; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*  Highlighting colors */
::selection {
  color: #ffffff;
  background: #0088cc; }

::-moz-selection {
  color: #ffffff;
  background: #0088cc; }

/*  Blockquotes */
blockquote {
  border-left: .235294118em solid #e5e5e5;
  margin-bottom: 1.529411765em;
  padding-left: 1.529411765em;
  padding-right: 1.529411765em; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

.section-title {
  clear: both;
  padding: 12px 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px; }

a.section-title {
  color: #666;
  display: block;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }
  a.section-title:hover {
    background: #0b98d4;
    color: white; }

.section-caption {
  clear: both;
  padding: 5px 20px;
  text-align: center; }

/* =============================================================
    CODE
    Styling for code and preformatted text.
 * ============================================================= */
code, pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: .823529412em;
  border-radius: .071428571em; }

code {
  color: #d14;
  background-color: #f7f7f9;
  padding: .235294118em; }

pre {
  display: block;
  margin-bottom: 1.529411765em;
  line-height: 1.538461538em;
  background-color: #f5f5f5;
  padding: .823529412em;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all; }

pre code {
  font-size: 1em;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0; }
