<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Force latest available IE rendering engine and Chrome Frame (if installed) -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Document Title & Description -->
    <title></title>
    <meta name="description" content="">
    
    <!-- Mobile Screen Resizing -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico" href="">

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144.png">

    <!-- MS Homescreen Icons -->
    <meta name="msapplication-TileColor" content="#0088cc">
    <meta name="msapplication-TileImage" content="img/ms-touch-icon.png">

    <!-- stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">

    <!-- typeface -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 Shim for IE 6-8 -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body class="{% if page.body_class %} {{ page.body_class }}{% endif %}">
    <!-- Old Browser Warning -->
    <!--[if lt IE 8]>
      <section class="container">
          Did you know that your web browser is a bit old? Some of the content on this site might not work right as a result. <a href="http://whatbrowser.org">Upgrade your browser</a> for a faster, better, and safer web experience.
      </section>
    <![endif]-->
    <header>
      <nav>
        <!--
        <a href="/">{{ site.name }}</a>
        -->
        <div class="half">
        <a id="biomod-logo-dark" href="/"></a>
        </div>

        <div class="half">
        <ul class="horizontal right">
          <li>
            <a href="/pages/how-to-join">how to join</a>
          </li>
          <li>
            <a href="/pages/requirements">requirements</a>
          </li>
          <li>
            <a href="/pages/example-projects">examples</a>
          </li>
          <li>
            <a href="/pages/jamboree">jamboree</a>
          </li>
        </ul>
        </div>

      </nav>
    </header>

      {{ content }}


    <div class="row">
      <h5 class="callout">Hey guys!</h5>
    </div>  


    {% include footer.html %}  


    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/assets/js/jquery.flexslider-min.js"></script>
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!-- (Via HTML5 Boilerplate: http://html5boilerplate.com/) -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

  </body>
</html>
