---
layout: default
body_class: post
---

	<div class="row main">    

        <main>
                <section>
                        <p><a href="/blog/index.html">&laquo; back to blog index</a></p>
                        
                        <h2>{{ page.title }}</h2>

                        <h6>{{ page.date | date_to_string }}</h6>
                        
                        {{ content }}

                        <p  id="mission-share">

                            <a href="http://twitter.com/share?url={{ site.url }}{{ page.url }}" class="icon-twitter-squared float-right">tweet</a>  

                            <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="icon-facebook-squared float-right">share</a>

                        </p>
                        <br style="clear:both"/>
                </section>
        </main>
	        
	    
	    <aside>
    		{% include sidebar_photos.html %}
	    </aside>
	    
	</div>
